@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #b30707;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: auto;
}
@media only screen and (max-width: auto) {
  header nav {
    display: none;
  }
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #333;
    text-align: center;
  }
  nav.show {
    display: flex;
  }
  nav a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
header a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
header a.logo img {
  margin-right: 10px;
}
header a.logo h2.nombre-empresa {
  margin: 0;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li:hover a {
  color: #000000;
}
header nav a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #333;
    text-align: center;
  }
  header nav.show {
    display: flex;
  }
  header nav a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  header nav a:hover {
    background-color: #555;
  }
  header .burger-menu {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  header .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/Cortina-Roller-banner.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-texto {
  color: #fafafa;
  text-align: center;
  width: 50%; /* Ancho para pantallas grandes */
}
@media (max-width: 767px) {
  .wrap-texto {
    width: 100%; /* Ancho para pantallas pequeñas (móviles) */
  }
}

.texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 70px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vdo {
  margin: 0 10px;
  padding: 20px;
  background-color: rgba(177, 180, 192, 0.31);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  max-width: 800px;
}
@media (max-width: 767px) {
  .vdo {
    flex-direction: column; /*movil*/
    align-items: center;
  }
  .vdo video {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .vdo video {
    width: 50%; /*web*/
  }
}
.vdo video {
  max-width: 100%; /* Asegura que el video no supere el 100% del contenedor */
}

.vdo .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
}

/* Estilos de las secciones */
section {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Estilos de la sección de Inicio */
}
section #inicio {
  text-align: center;
  /* Estilos para la sección de Inicio */
}
section #inicio .inicio {
  background-color: #b30707; /* Fondo rojo */
  color: #fff; /* Texto blanco */
  padding: 30px;
  text-align: center;
}
section #inicio .inicio .inicio-titulo {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-subtitulo {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-lista {
  list-style-type: disc;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-texto {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilos del pie de página */
footer {
  background-color: #b30707; /* Color rojo predominante */
  color: #fff;
  text-align: center;
  padding: 10px;
}

.boton-contacto {
  background-color: #b30707;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.boton-contacto:hover {
  background-color: #b30707; /* Cambio de color al pasar el cursor */
}

/* Estilos para el formulario de contacto */
.login-form {
  background: url(/img/Cortinas-Roller-BlackOut.jpg) no-repeat 0px 0px;
}

.contacto {
  text-align: center;
  background-color: rgba(152, 160, 152, 0.3843137255);
}
.contacto h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.contacto p {
  margin-bottom: 20px;
}
.contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacto ul li {
  margin-bottom: 10px;
}
.contacto h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.formulario-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.formulario-container form {
  display: flex;
  flex-direction: column;
}
.formulario-container form label {
  margin-bottom: 5px;
}
.formulario-container form input,
.formulario-container form textarea {
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
.formulario-container form input[type=submit] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .formulario-container form input,
  .formulario-container form textarea {
    margin-bottom: 10px;
  }
}

/*estilos seccion sobre nosotros*/
.sobre-nosotros {
  padding: 50px 20px;
}
.sobre-nosotros .sobre-nosotros-contenido {
  display: flex;
  flex-direction: column;
}
.sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-imagen {
  text-align: center;
  margin-bottom: 20px;
}
.sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-imagen img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}
.sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-texto {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-texto p {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .sobre-nosotros .sobre-nosotros-contenido {
    flex-direction: row;
  }
  .sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-imagen {
    flex: 1;
    margin-bottom: 0;
  }
  .sobre-nosotros .sobre-nosotros-contenido .sobre-nosotros-texto {
    flex: 1;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container .item {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}
.container .item:hover {
  transform: scale(1.1);
}
.container .item img {
  width: 200px;
  height: 150px;
  max-width: 100%;
  height: auto;
}
.container .item p {
  margin: 10px 0;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container .item {
    margin-bottom: 20px;
  }
}

/* Productos */
#productos {
  text-align: center;
  padding: 20px;
}
#productos .product-container {
  margin-top: 20px;
}
#productos .product-container .product {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(83, 67, 67, 0.651);
  margin: 0 auto 20px;
  transition: box-shadow 0.3s ease-in-out;
}
#productos .product-container .product:hover {
  box-shadow: 0 8px 16px rgba(184, 26, 26, 0.726);
}
#productos .product-container .product .product-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#productos .product-container .product .product-content img {
  width: 30%;
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#productos .product-container .product .product-content .text-container {
  flex-grow: 1;
  max-height: 200px;
  overflow-y: auto;
}
#productos .product-container .product .product-content .text-container p {
  margin: 10px;
  text-align: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton-presupuesto {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #b30707;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.boton-presupuesto:hover {
  background-color: #98a098;
}

/* Estilo soluciones */
.soluciones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.soluciones .solucion {
  width: 30%;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  flex-direction: column;
  display: flex;
}
.soluciones .solucion img {
  width: 100%;
  max-width: 100%; /*ancho máximo para la imagen */
  height: auto; /*proporción original de la imagen */
}
.soluciones .solucion .descripcion {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media (max-width: 768px) {
  .soluciones .solucion {
    width: 100%; /* Cambia el ancho al 100% en dispositivos móviles */
  }
}

/*redireccion a google*/
.google {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.google img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.google p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}
.google a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}
.google a:hover {
  background-color: #b30707;
}

/*error404*/
.error-container {
  text-align: center;
}
.error-container .error-title {
  color: #333;
}
.error-container .error-message {
  color: #555;
  margin-bottom: 20px;
}
.error-container .back-button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.error-container .back-button:hover {
  background-color: #2c76f5;
}

/*menu de hamburguesa*/
.menu-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.menu-btn span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

#menu-toggle:checked + .menu-btn .menu-icon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
#menu-toggle:checked + .menu-btn .menu-icon span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .menu-btn .menu-icon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
#menu-toggle:checked + .menu-btn + nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: rgba(110, 3, 3, 0.5882352941);
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
#menu-toggle:checked + .menu-btn + nav ul {
  flex-direction: column;
  align-items: flex-end;
}
#menu-toggle:checked + .menu-btn + nav ul li {
  margin-right: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  nav {
    display: flex !important;
  }
  #menu-toggle {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
