@charset "UTF-8";
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #b30707;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
}

nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #333;
    text-align: center;
  }
  nav.show {
    display: flex;
  }
  nav a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
header a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
header a.logo img {
  margin-right: 10px;
}
header a.logo h2.nombre-empresa {
  margin: 0;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li:hover a {
  color: #000000;
}
header nav a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: #333;
    text-align: center;
  }
  header nav.show {
    display: flex;
  }
  header nav a {
    padding: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  header nav a:hover {
    background-color: #555;
  }
  header .burger-menu {
    display: block;
    cursor: pointer;
    margin-top: 15px;
  }
  header .burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
.wrap {
  width: 98.8vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/Cortina-Roller-banner.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-texto {
  color: #000000;
  text-align: center;
  width: 50%;
}

.texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 70px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}

.vdo {
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
  background-color: rgba(177, 180, 192, 0.31);
  margin: 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}
.vdo .contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos de las secciones */
section {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Estilos de la sección de Inicio */
}
section #inicio {
  text-align: center;
  /* Estilos para la sección de Inicio */
}
section #inicio .inicio {
  background-color: #b30707; /* Fondo rojo */
  color: #fff; /* Texto blanco */
  padding: 30px;
  text-align: center;
}
section #inicio .inicio .inicio-titulo {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-subtitulo {
  font-size: 24px;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-lista {
  list-style-type: disc;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
section #inicio .inicio .inicio-texto {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

/* Estilos del pie de página */
footer {
  background-color: #b30707; /* Color rojo predominante */
  color: #fff;
  text-align: center;
  padding: 10px;
}

.boton-contacto {
  background-color: #b30707;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.boton-contacto:hover {
  background-color: #b30707; /* Cambio de color al pasar el cursor */
}

/* Estilos para el formulario de contacto */
.login-form {
  width: auto;
  margin: 0% auto;
  background: url(/img/Cortinas-Roller-BlackOut.jpg) no-repeat 0px 0px;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 100px 500px 63px;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .login-form {
    flex-direction: column;
    padding: 50px 20px 63px;
  }
}
.login-form .contacto form {
  background-color: #c2bcbc;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.login-form .contacto form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.login-form .contacto form input[type=text],
.login-form .contacto form input[type=email],
.login-form .contacto form textarea {
  width: 97%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.login-form .contacto form textarea {
  resize: vertical;
}
.login-form .contacto form input[type=submit] {
  background-color: #007599;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.login-form .contacto form input[type=submit]:hover {
  background-color: #046583; /* Cambio de color al pasar el cursor sobre el botón */
}

.sobre-nosotros-imagen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.container .item {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}
.container .item:hover {
  transform: scale(1.1);
}
.container .item img {
  width: 200px;
  height: 150px;
  max-width: 100%;
  height: auto;
}
.container .item p {
  margin: 10px 0;
}

/* Productos */
#productos {
  text-align: center;
  padding: 20px;
}
#productos .product-container {
  margin-top: 20px;
}
#productos .product-container .product {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(83, 67, 67, 0.651);
  margin: 0 auto 20px;
  transition: box-shadow 0.3s ease-in-out;
}
#productos .product-container .product:hover {
  box-shadow: 0 8px 16px rgba(184, 26, 26, 0.726);
}
#productos .product-container .product .product-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#productos .product-container .product .product-content img {
  width: 30%;
  height: auto;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#productos .product-container .product .product-content .text-container {
  flex-grow: 1;
  max-height: 200px;
  overflow-y: auto;
}
#productos .product-container .product .product-content .text-container p {
  margin: 10px;
  text-align: left;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton-presupuesto {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #b30707;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.boton-presupuesto:hover {
  background-color: #98a098;
}

/* Estilo soluciones */
.soluciones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
.soluciones .solucion {
  width: 48%;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  flex-direction: column;
  display: flex;
}
.soluciones .solucion img {
  width: 100%;
  max-width: 100%; /*ancho máximo para la imagen */
  height: auto; /*proporción original de la imagen */
}
.soluciones .solucion .descripcion {
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/*redireccion a google*/
.google {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.google img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.google p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}
.google a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}
.google a:hover {
  background-color: #b30707;
}

/*error404*/
.error-container {
  text-align: center;
}
.error-container .error-title {
  color: #333;
}
.error-container .error-message {
  color: #555;
  margin-bottom: 20px;
}
.error-container .back-button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.error-container .back-button:hover {
  background-color: #2c76f5;
}

/*# sourceMappingURL=styles.css.map */
