// Variables
$main-font: 'Arial', sans-serif;
$main-color: #b30707;
$main-background: #f2f2f2;
$media-query-width: 600px;

body {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    background-color: $main-background;
}

header {
    background-color: $main-color;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 50px;

    @media only screen and (max-width: $media-query-width) {
        nav {
            display: none;
        }
        
    }
}

// Estilos para la versión de escritorio
nav {
    ul {
        list-style: none;
        display: flex;
    }

    li {
        margin-right: 20px;
    }
}

// Estilos para la versión móvil
@media only screen and (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: #333;
        text-align: center;

        &.show {
            display: flex;
        }

        a {
            padding: 15px;
            color: #fff;
            text-decoration: none;
            display: block;
        }
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        margin-top: 15px;

        .bar {
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 5px 0;
        }
    }
}

// Estilos para la versión de escritorio
header {
    a.logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ffffff; // Color de texto por defecto

        img {
            margin-right: 10px;
        }

        h2.nombre-empresa {
            margin: 0;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;

            li {
                margin-right: 20px;

                // Estilo al pasar el mouse por encima
                &:hover {
                    a {
                        color: #000000; 
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }
    }
}

// Estilos para la versión celular
@media only screen and (max-width: 768px) {
    header {
        nav {
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            background-color: #333;
            text-align: center;

            &.show {
                display: flex;
            }

            a {
                padding: 15px;
                color: #fff;
                text-decoration: none;
                display: block;

                // Estilo al pasar el mouse por encima
                &:hover {
                    background-color: #555; 
                }
            }
        }

        .burger-menu {
            display: block;
            cursor: pointer;
            margin-top: 15px;

            .bar {
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin: 5px 0;
            }
        }
    }
}


.wrap {
    width: 98.8vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(0 0 0/ .5), rgb(0 0 0/ .5)),
                url(/img/Cortina-Roller-banner.jpg);
    background-size: cover;
    background-position: center;
}

.wrap-texto {
    color: #000000;
    text-align: center;
    width: 50%;
}

.texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 70px;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;

    li {
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}
.vdo {
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    background-color: rgba(177, 180, 192, 0.31);
    margin: 50px; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

    .contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
/* Estilos de las secciones */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    /* Estilos de la sección de Inicio */
    #inicio {
        text-align: center;

        /* Estilos para la sección de Inicio */
        .inicio {
            background-color: #b30707; /* Fondo rojo */
            color: #fff; /* Texto blanco */
            padding: 30px;
            text-align: center;

            .inicio-titulo {
                font-size: 32px;
                margin-bottom: 10px;
                font-family: 'Times New Roman', Times, serif;
            }

            .inicio-subtitulo {
                font-size: 24px;
                margin-top: 20px;
                font-family: 'Times New Roman', Times, serif;
            }

            .inicio-lista {
                list-style-type: disc;
                margin-left: 20px;
                font-family: 'Times New Roman', Times, serif;
            }

            .inicio-texto {
                font-size: 18px;
                margin-bottom: 20px;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
}

/* Estilos del pie de página */
footer {
    background-color: #b30707; /* Color rojo predominante */
    color: #fff;
    text-align: center;
    padding: 10px;
}
.boton-contacto {
    background-color: #b30707;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #b30707; /* Cambio de color al pasar el cursor */
    }
}

/* Estilos para el formulario de contacto */
.login-form {
    width: auto;
    margin: 0% auto;
    background: url(/img/Cortinas-Roller-BlackOut.jpg) no-repeat 0px 0px;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 100px 500px 63px;
    display: flex;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        padding: 50px 20px 63px; // Ajusta los valores de padding según sea necesario
    }

    .contacto {
        form {
            background-color: #c2bcbc;
            border: 1px solid #ddd;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            label {
                display: block;
                margin-top: 10px;
                font-weight: bold;
            }

            input[type="text"],
            input[type="email"],
            textarea {
                width: 97%;
                padding: 10px;
                margin-top: 5px;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            textarea {
                resize: vertical;
            }

            input[type="submit"] {
                background-color: #007599;
                color: #fff;
                font-size: 16px;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-top: 10px;

                &:hover {
                    background-color: #046583; /* Cambio de color al pasar el cursor sobre el botón */
                }
            }
        }
    }
}
.sobre-nosotros-imagen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    .item {
        text-align: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 200px;
            height: 150px;
            max-width: 100%;
            height: auto;
        }

        p {
            margin: 10px 0;
        }
    }
}

/* Productos */

#productos {
    text-align: center;
    padding: 20px;

    .product-container {
        margin-top: 20px;

        .product {
            text-align: center;
            border: 2px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 0 auto 20px;

            .product-content {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 30%;
                    height: auto;
                    display: block;
                }

                p {
                    margin: 10px;
                    text-align: left;
                    font-size: 14px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
            }
        }
    }
}

.boton-presupuesto {
    display: inline-flex;
    padding: 10px 20px;
    background-color: #acb1ac;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
        background-color: #98a098;
    }
}
/* Estilo soluciones */

.soluciones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

    .solucion {
        width: 48%;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;

        img {
            width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
            max-width: 100%; /* Establece un ancho máximo para la imagen */
            height: auto; /* Mantiene la proporción original de la imagen */
        }

        .descripcion {
            text-align: center;
            margin-top: 45px;
        }
    }
}
